.to-do-list {
    margin: 5% 35%;

    .widthAddInput {
        width: 200px !important;
    }

    .card {
        display: flex;
        justify-content: center;
        background-color: #C0C0C0;
    }

    .ant-tabs-nav-wrap {
        justify-content: center;
    }

    .ant-tabs-tab-active {
        color: brown !important;
    }

    .ant-tabs-nav-list {
        width: 100%;
        display: contents;

        .ant-tabs-tab-btn {
            margin: 0% 10%;
        }
    }

    .ant-tabs {
        width: 100%;
    }

    .ant-tabs-tab {
        width: 25%;
    }

    .list-item {
        font-size: 18px;
        padding: 3% 10% 3% 6%;
        border-bottom: 1px solid black;

        &:hover {
            .delete-done {
                display: block !important;
            }
        }
    }

    .delete-done {
        display: none;
    }


}