.portFolio {
  display: flex;
  width: 100%;

  .openCloseDiv {
    background-color: rgba(0, 0, 255, 0.5);
    width: 100%;
    border-radius: 0px;

    &:hover {
      background-color: rgba(0, 0, 255, 0.7) !important;
    }

    .openCloseIcon {
      // margin-left: `${state.sideBar ? "19%" : "4.2%"}`,
      margin-left: 18%;
      // position: fixed;
      //   margin-top: 20px;
      transition: margin-left 1s;
      color: white;
    }
  }

  .width20 {
    transition: width 1s;
    width: 12%;
  }

  @media (max-width: 1000px) {
    .width20 {
      width: 30%;
    }
  }

  .width0 {
    transition: width 1s;
    width: 5%;
  }

  @media (max-width: 1000px) {
    .width0 {
      width: 8%;
    }
  }

  .width80 {
    transition: width 1s;
    width: 80%;
  }

  .width90 {
    transition: width 1s;
    width: 90%;
  }

  .portfolio-anchor {
    align-items: center;
    background-color: white;
    box-shadow: 5px 5px 5px grey;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    height: 100%;
    // border:1px solid black;

    .profilePic {
      margin-top: 10px;
      width: 100px;
      height: 110px;
      border-radius: 70px;
    }

    // :where(.css-dev-only-do-not-override-14i19y2).ant-image
    .ant-image-mask:hover {
      border-radius: 70px;
    }

    .iconLinks {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .codeIcons {
        display: flex;
        gap: 4px;

        .width16 {
          width: 16px;

          &:hover {
            width: 18px;
          }
        }

        .width14 {
          width: 14px;

          &:hover {
            width: 16px;
          }
        }
      }

      .mediaIcons {
        .width20P5 {
          width: 20.5px;

          &:hover {
            width: 22px;
          }
        }
      }
    }

    .ant-anchor-link {
      // color: white;
      font-size: 18px;
      padding-inline: 0px !important;
    }

    .ant-anchor::before {
      visibility: hidden;
    }

    .ant-anchor-link-title {
      color: rgba(0, 0, 0);
    }

    .ant-anchor-link-active {
      // color: whites;
      font-size: 24px;
    }

    :where(.css-dev-only-do-not-override-j9bb5n).ant-anchor-wrapper
      .ant-anchor
      .ant-anchor-link-active
      > .ant-anchor-link-title {
      color: rgba(0, 0, 255, 0.7) !important;
    }

    .ant-anchor-link-title-active {
      color: rgba(0, 0, 255, 0.7) !important;
    }
  }

  .darkMode {
    background-color: black;
    color: white;
  }

  .sideOpen {
    padding-left: 12%;
    transition: padding-left 1s;
  }

  @media (max-width: 1000px) {
    .sideOpen {
      padding-left: 30%;
    }
  }

  .sideClose {
    padding-left: 5%;
    transition: padding-left 1s;
  }

  .portfolio-body {
    .contactSection {
      margin-top: -20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .section {
      // height: 500px;
      display: flex;
      flex-direction: column;
      align-items: start;
      margin: 28px 50px;

      .head {
        font-size: 26px;
        font-weight: 500;
        margin-bottom: 30px;
      }

      .subHead {
        font-size: 20px;
        font-weight: 450;
        margin-bottom: 30px;
      }

      .body {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 30px;
        background-color: #fff;
        padding: 12px 18px;
        border-radius: 10px;
        box-shadow: 10px 10px 10px grey;
        color: black;
      }

      .note {
        margin-top: 10px;
        margin-right: 50px !important;
        text-align: left;
        padding-left: 10px;
      }

      .subBody {
        padding-left: 30px !important;
      }

      .resumeBtn {
        margin-top: 45px !important;
        border-radius: 30px !important;
        padding: 12px 8px !important;
        margin: 10px;
        border: 1px solid rgba(0, 0, 255, 0.5);
        font-size: 12px;
      }
    }
  }
}

.resumeModal {
  .resumeBtn {
    margin-top: 10px !important;
    border-radius: 30px !important;
    border: 1px solid rgba(0, 0, 255, 0.5);
    font-size: 12px;
  }

  .downloadBtn {
    margin-top: 10px !important;
    border-radius: 30px !important;
    background-color: rgba(0, 0, 255, 0.5);
    color: white;
    font-size: 12px;

    &:hover {
      background-color: rgba(0, 0, 255) !important;
      color: white !important;
    }
  }
}
