.jobs {
  margin: 3% 6% 3% 6%;

  .mainTitle {
    display: flex;
    align-items: start;
    font-size: 24px;
  }

  .gap10 {
    gap: 10px;
  }

  .eachJobBody {
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    background-color: rgba(255, 255, 255);
    // max-width: 40%;
    display: flex;
    justify-content: space-between;

    .logoNtitle {
      display: flex;
      gap: 20px;
    }

    .compLogo {
      margin: 8px 0px 8px 8px;
    }

    .titleNcompany {
      display: flex;
      flex-direction: column;

      .jobTitle {
        font-weight: 500;
        max-width: 200px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: black;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .compTitle {
        font-weight: 300;
        font-size: 14px;
        display: flex;
        float: left;
        // max-width: 80%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: black;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
